.service-item img{
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}

.service-item h3 {
    font-size: 11px;
    font-weight: 800;
    margin: 0;
    padding: 8px 0;
}
.arrow-icon img{
    width: 30px;
    height: auto;

}
.service-item p{
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;

}

.service-item{
    transition: .3s ease-in-out;
    padding: 10px;
    padding-top: 25px;
    border-radius: 6px;
}

.service-item:hover{
    background: #EFF0F2;
}

img.image-ronded {
    border-radius: 60px;
    height: 500px;
    width: 500px;
    object-fit: cover;
}
.my-slide{
    margin-bottom: 100px;
}

.my-slide img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 0 18px;
}

.icon svg {
    position: relative;
    top: 3px;
    left: 6px;
}

.tp-slider-exp-item__content p {
    font-size: 14px;
    line-height: 21px;
}

.tp-exp-sm-title {
   
    padding-bottom: 5px !important
}

.tp-slider-exp-item__content b {
    font-size: 15px;
    font-weight: 700;
}

.icon-bg {
    background: #3BB7FE !important;
}

.tp-exp-sm-title {
    font-size: 20px !important ;
    line-height: 29px !important ;

}

p.our-pride {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 0;
}

.about-heading {
    margin: 0;
}

.tp-service-item {
    padding: 30px 20px !important
}

.tp-service-item__content p {
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 25px;
}

.tp-service-item__content h4 {
    margin-bottom: 14px !important;
}

.tp-service-item {
    margin-bottom: 40px !important
}

.tp-case-area.case-bg.case-space {
    padding-top: 0;
}
.tp-logo img {
    width: 100px !important;
}
.tp-logo{
    text-align: center !important;
    padding: -1px 0 !important
}

.tp-btn{
    font-weight: 600 !important;
    font-size: 14px !important;
    height: 60px !important;
    line-height: 60px !important;
}
.tp-section-title {
    font-size: 38px !important;
}

.tp-slider-exp-item {
    padding: 30px !important
 
}
.tp-main-menu ul li a {
    font-size: 13px !important;
    padding: 40px 0px;
    font-weight: 600;
}
.tp-slider-title {
    font-weight: 600 !important ;
    font-size: 38px !important;
    line-height: 1.2 !important;
    letter-spacing: -0.01em;
}

.tp-hero__section-box p {
    font-weight: 300 !important
}

.hero-grideant-bg {
    background-size: cover !important
}

.tp-hero__thumb.text-start.text-lg-end.wow.tpfadeRight {
    margin-left: 70px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 12px;
}
.icons a {
    color: #fff;
    font-size: 19px;
}
.tp-footer-widget__title span {
    color: #fff;
}

a.space-top {
    color: #fff;
    margin-top: 10px;
    display: block;
}
.tp-section-subtitle.tp-green-color::before {
    background-color: var(--tp-common-green);
}

.tp-service-item.sv-color-blue-two {
    background-color: #3bb7fe26;
}
.breadcrumb__content h3 {
    font-size: 40px;
    margin-bottom: 0;
}

.breadcrumb-height {
    padding-top: 210px;
    padding-bottom: 100px;
}
.counter-item h4::before {
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #3bb7fe;
    z-index: -1;
    position: absolute;
    top: 10px;
    left: 0;
}

.breadcrumb__content p {
    width: 65%;
    font-weight: 300;
    margin: 0 auto;
}