.extra-class {
    left: -670px !important;
    width: 1200px !important;
    margin: 0 auto !important;
}

.btn-item {
    padding: 0 40px !important;
}

.space {
    margin-bottom: 50px;
}



@media only screen and (max-width: 990px)  {

.tp-hero__thumb.text-start.text-lg-end.wow.tpfadeRight {
    margin-left: 0px !important
}
.close-open {
    opacity: 1 !important;
}
}